
.item-detail{
display: flex;
flex-wrap: wrap;
flex-direction: row;
margin: 2%;
}

.item-detail img{
    width: 320px;
    height: 550px;
    border-radius: 3%;
}

.detail-conten{
    margin: 5%;
    width: 60%;
}

.detail-descr{
    width: 60%;
    margin-top: 5%;
    margin-bottom: 20px;
}
.Button-end{
width: 150px;
text-align:end;
padding: 3px ;
margin-top: 50px;
background-color: rgb(115, 13, 100);
border: 1px solid white;
border-radius: 5px;
color: white;
}

.detail-prec{
    font-style: italic;
  padding: 10px 0;
  font-size: 20px;
 
}